@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

*{
    margin: 0;
    background-color: #FFF5FD;
    font-family: 'DM Sans', sans-serif;
}

.admin-page{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.admin-page-container{
    width: 80%;
}
.admin-page-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border: 2px dashed #FF96AD;
    padding: 50px 0px 50px 0px ;
    border-radius: 20px ;
}
.admin-page-heading{
    font-size: 25px;
    font-weight:600;
    color: #005A8D;
}
.admin-page-img-upload{
    width: 40%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.admin-page-img-upload button{
    margin-top: 20px;
    padding: 12px 22px 12px 22px ;
    border: none;
    background-color: #005A8D;
    font-weight: 500;
    color: white;
    border-radius: 5px;
    
}
.admin-page-img-upload button:hover{
    padding: 10px 20px 10px 20px ;
    border: 2px solid #022E57;
    background-color: white;
    color: #022E57;
    font-weight: 600;
}
.admin-page-img-upload input{
    width: 100% ;
    border: 2px dashed #022E57;
    padding: 20px 30px 20px 30px ;
    border-radius: 10px;
}

.admin-page-img-upload input[type=file]::file-selector-button{
    border: none;
    padding: 10px 20px 10px 20px;
    background-color: #005A8D;
    color: white;
    border-radius: 5px;
}


.admin-page-vid-upload{
    width: 40%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.admin-page-vid-upload button{
    margin-top: 20px;
    padding: 12px 22px 12px 22px ;
    border: none;
    background-color: #005A8D;
    font-weight: 500;
    color: white;
    border-radius: 5px;
    
}
.admin-page-vid-upload button:hover{
    padding: 10px 20px 10px 20px ;
    border: 2px solid #022E57;
    background-color: white;
    color: #022E57;
    font-weight: 600;
}
.admin-page-vid-upload input{
    width: 100% ;
    border: 2px solid #022E57;
    padding: 20px 30px 20px 30px ;
    border-radius: 10px;
}